<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>小白问卷-免费、简约、易用的在线调研</title>
  <meta name="keywords" content="问卷调查，调查问卷，网络调查，市场调查，市场调研，问卷，问卷网，表单设计，报名表，登记表">
  <meta name="description" content="问卷免费网络调查平台拥有创新的编辑界面和结果分析界面，海量的问卷和表单模板，支持三十余种常见题型和多种问卷发布渠道。专注于为企业和个人提供问卷表单的创建，发布，管理，收集及分析服务。">
  <link rel="shortcut icon" href="resource/img/logo.png"> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  
</head>  
<style> 

</style> 
<body>
<div style="margin:auto 0;text-align:center;margin-top:60px">
<div>
<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="font-size:50px;color:#E6A23C"></span>
</div>
<div style="margin-top:15px">
<span style="font-size:18px">此微信号已被使用，请去除绑定!</span>
</div>
</div>
 
</body> 

</html> 